body {
    background-image: url("../afbeeldingen/kung\ fu\ panda.jfif");
    background-size: cover;
}

header, nav, footer, article {
    display: block;
    font-family: Trebuchet, Trebuchet MS, Verdana;
    text-align: center;
}

header, footer {
    margin-left: -8px;
    margin-right: -8px;
}

header, footer {
    background-color: rgb(254, 97, 0);
    padding: 5px;
}

header {
    margin-top: 0px
}

nav {
    float: left;
    width: 15%;
    position: absolute;
}

.menu {
    display: block;
    width: 70px;
    background-color: #c1261b;
    /* lichtblauw */
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    color: black;
}

.menu:hover {
    background-color: black;
    color: #da4d1e;
    /* lichtblauw */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



footer {
    clear: both
}